
// 1 - Variables / Breakpoints
// -----------------------------------------------------------------------------


$_breakpoints: (
  small:    20rem,
  medium:   40rem,
  large:    60rem,
  x-large:  80rem
);
