.deliveries {
    margin: 0 4vw;

    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 65em;
        margin: 0 auto;
    }

    &-sectionHeader {
        width: 100%;
        max-width: 65em;
        margin: 8em auto 1em;

        @media only screen and (min-width: 1000px) {
            flex-direction: row;
            align-items: flex-end;
        }

        &-text {
            text-align: center;

            @media only screen and (min-width: 1000px) {
                text-align: left;
            }

            h3 {
                color: $red;
                font-family: $brandFont;
                font-size: 2em;
                margin-bottom: 1rem;
            }

        }
    }
}

.delivery {
    border-radius: $border-radius;
    border: $border-width solid $lightGrey;
    margin: .5em 0;
    padding: 1em;
    width: 100%;
    text-align: left;
    color: $darkGrey;

    > div {
        display: block;
        position: relative;

        > span {
            display: inline;
            font-family: $bodyFont;
            font-weight: bold;

            @media only screen and (min-width: 700px) {
                display: none;
            }
        }

        @media only screen and (min-width: 700px) {
            display: inline-block;
            width: calc(25% - .25em);
            vertical-align: top;
        }
    }

    sup {
        margin-left: .25rem;
        line-height: 1rem;
        
        a {
            color: $blue;
            font-size: .75rem;
            line-height: 1rem;
        }
    }

    &.-header {
        border-color: transparent;
        display: none;
        margin-bottom: 0;
        padding-bottom: .5em;

        > div {
            > span {
                display: inline;
                font-family: $brandFont;
                font-weight: bold;
                letter-spacing: .2em;
            }
        }

        @media only screen and (min-width: 700px) {
            display: list-item;
        }
    }
}