.footnotes {
    background-color: rgba(194, 196, 198, .25);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 65em;
    margin: 2rem auto 0;

    @media only screen and (min-width: 1000px) {
        flex-direction: row;
        padding: 2rem;
    }
    
    li {
        padding: 1rem;
        width: 100%;

        @media only screen and (min-width: 1000px) {
            width: 50%;
        }

        dfn {
            font-style: normal;
            font-weight: bold;
            &:after {
                content: ": ";
            }
        }
    }
}