.restaurants {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 65em;
        margin: 0 auto;
    }

    &-sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 65em;
        margin: 5em auto 4em;

        @media only screen and (min-width: 1000px) {
            flex-direction: row;
            align-items: flex-end;
        }

        &-text {
            text-align: center;

            @media only screen and (min-width: 1000px) {
                text-align: left;
            }

            h3 {
                color: $red;
                font-family: $brandFont;
                font-size: 2em;
                margin-bottom: 2rem;
            }

            p {

                max-width: 24em;
            }

        }

        &-milestone {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin: 2em 0 0 0;

            @media only screen and (min-width: 1000px) {
                margin: 0 0 0 2em;
                flex-direction: row;
                text-align: right;
            }

            label {
                color: $blue;
                font-family: $brandFont;
                font-size: 1.5em;
                text-transform: uppercase;
            }

            p {
                color: $red;
                font-family: $brandFont;
                font-size: 2em;
                text-transform: uppercase;
            }

            &-icon {
                width: 4em;
                height: 4em;
                margin:  0 1em 0 0;

                @media only screen and (min-width: 1000px) {
                    margin: 0 0 0 1em;
                }

                img {
                    width: 100%;
                }
            }


        }
    }

    &-sort {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        width: 100%;
        max-width: 65em;
        margin: 5em auto 4em;

        label {
            color: $blue;
            font-weight: bold;
        }

        select {
            display: none;
        }

        .selectize-control {
            display: inline-block;
            width: 24em;
        }

        .selectize-input {
            border: none;
            background: none;
            box-shadow: none;
            display: inline-block;
        }
    }
}

.restaurant {
    border-radius: $border-radius;
    border: $border-width solid $lightGrey;
    margin: .5em;
    padding: .5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    @media only screen and (min-width: 600px) {
        width: calc(50% - 1em);
    }

    @media only screen and (min-width: 800px) {
        width: calc(33% - 1em);
    }

    @media only screen and (min-width: 1100px) {
        width: calc(25% - 1em);
    }

    &-logo {
        height: 140px;
        padding: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-name {
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: $darkGrey;
        font-weight: bold;
        font-size: .9rem;
        flex-grow: 1;
    }

    &-raised {
        color: $blue;
        font-family: $brandFont;
        font-size: 2rem;
        letter-spacing: .2rem;
        font-weight: bold;
    }

    .button {
        margin-top: 1.5em;
    }
}