.callout {
    margin: 10em 4vw 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1000px) {
        margin-top: 6rem;
    }

    h2 {
        color: $red;
    }

    p {
        font-size: 1.25em;
        max-width: 36em;
        margin-top: 1rem;

        @media only screen and (min-width: 1000px) {
            font-size: 1.5em;
            margin-top: 2rem;
        }
    }
}