.footer {
    margin-top: 6em;
    background-color: $darkGrey;
    padding: 4em 4vw;

    @media only screen and (min-width: 1000px) {
        margin-top: 10em;
    }

    h3 {
        font-family: $brandFont;
        color: $lightGrey;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    p {
        color: #a5a6a6;
        font-size: .75em;
        text-align: center;
        font-weight: bold;
        letter-spacing: .1em;
    }

    a {
        font-family: $brandFont;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-decoration: underline;

        &:hover {
            color: $lightGrey;
        }
    }
    
    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        max-width: 64em;
        margin: 0 auto;

        @media only screen and (min-width: 1000px) {
            align-items: stretch;

            &:first-of-type {
                height: 7em;
            }
        }

        &:last-of-type {
            margin-top: 4em;
        }
    }

    &-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: flex-start;

        @media only screen and (max-width: 999px) {
            &:not(:first-child) {
                margin-top: 4em;
            }
        }

        @media only screen and (min-width: 400px) and (max-width: 999px) {
            &:nth-child(2) {
                width: 50%;
                height: 7em;
                padding-right: 4vw;
                align-items: flex-end;
            }

            &:nth-child(3) {
                width: 50%;
                height: 7em;
                padding-left: 4vw;
                align-items: flex-start;
            }
        }

        @media only screen and (min-width: 1000px) {
            width: 25%;

            &:first-of-type {
                align-items: flex-start;
            }
    
            &:last-of-type {
                align-items: flex-end;
            }
        }
    }

    &-logo {
        img {
            height: 100%;
        }
    }

    &-builtBy, &-poweredBy {
        img {
            max-width: 7em;
            margin-top: 1em;
        }
    }


    
}

