button, .button {
    background-color: $red;
    font-family: $brandFont;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 2em;
    border-radius: $border-radius;
    text-decoration: none;
    padding: 0 1.5em;
    text-align: center;
    min-width: 8em;

    &:hover {
        background-color: darken($red, 10%);
    }

    &.-blue {
        background-color: $blue;

        &:hover {
            background-color: darken($blue, 10%);
        }
    }

    &.-white {
        background-color: white;
        color: $red;

        &:hover {
            background-color: $red;
            color: white;
        }
    }
}