@import "../1-variables/_variables";
@import "../2-functions/_functions";

@mixin control {

    // Mixins

    @include            transition;


    // Base

    display:            block;
    background-color:   color(neutral, lightest);
    border-radius:      $border-radius;
    border:             $border-width solid color(neutral);
    color:              color(neutral, darkest);
    cursor:             pointer;
    font-size:          1rem;
    font-weight:        normal;
    line-height:        2;
    height:             calc(2em + 2 * #{$border-width});


    // Placeholder

    @include placeholder {
        @include transition;
        color: color(neutral, dark);
    };


    // States

    &:not(:disabled) {
        &:focus {
            box-shadow:     0 0 0 3px color(brand, primary, .25);
            border-color:   color(brand, primary);
        }

        &:hover {
            border-color:   color(neutral, dark);
        }

        &:focus:hover {
            border-color:   color(brand, primary);
        }
    }

    &:disabled {
        border-color:   color(neutral, light);
        cursor:         not-allowed;

        @include placeholder {
            @include    muted;
        };

        &:focus {
            box-shadow: 0 0 0 3px color(neutral, light, .25);
        }
    }
}