@import url("https://use.typekit.net/ogk2uvz.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://use.typekit.net/ogk2uvz.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://use.typekit.net/ogk2uvz.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }
  *:before, *:after {
    box-sizing: inherit; }

html, body {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.5;
  font-weight: normal; }

ol, ul {
  list-style: none; }

.-preload {
  visibility: hidden; }

button, .button {
  background-color: #fa5356;
  font-family: "trumpsoftpro", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 2em;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0 1.5em;
  text-align: center;
  min-width: 8em; }
  button.-blue, .button.-blue {
    background-color: #3eb9d9; }
  button.-white, .button.-white {
    background-color: white;
    color: #fa5356; }

h2 {
  font-size: 2em;
  font-family: "trumpsoftpro", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem; }

p {
  font-size: 1em;
  color: #4a4c4d;
  line-height: 1.6; }

.callout {
  margin: 10em 4vw 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1000px) {
    .callout {
      margin-top: 6rem; } }
  .callout h2 {
    color: #fa5356; }
  .callout p {
    font-size: 1.25em;
    max-width: 36em;
    margin-top: 1rem; }
    @media only screen and (min-width: 1000px) {
      .callout p {
        font-size: 1.5em;
        margin-top: 2rem; } }

.counter {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(33, 34, 35, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0 .5em; }
  @media only screen and (max-width: 1000px) {
    .counter {
      max-width: 24em;
      padding: 1em;
      margin: 0 auto; } }
  @media only screen and (min-width: 1000px) {
    .counter {
      padding: 0 .5em 0 1em;
      flex-direction: row;
      height: 2.75em; } }
  .counter-label {
    font-family: "trumpsoftpro", sans-serif;
    color: #fa5356;
    font-size: .9em;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .counter-amount {
    font-family: "trumpsoftpro", sans-serif;
    color: #3eb9d9;
    letter-spacing: .2em;
    font-size: 2em; }
    @media only screen and (max-width: 1000px) {
      .counter-amount {
        margin-top: .5rem; } }
    @media only screen and (min-width: 1000px) {
      .counter-amount {
        margin-left: 1rem;
        font-size: 1.3em;
        margin-left: .5rem;
        flex-grow: 1; } }
  @media only screen and (max-width: 1000px) {
    .counter .button {
      margin-top: 1em;
      width: 100%; } }
  @media only screen and (min-width: 1000px) {
    .counter .button {
      min-width: 8em; } }

.cta {
  margin: 5em 4vw 0; }
  .cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 64em;
    margin: 0 auto;
    text-align: center;
    background-color: #3eb9d9;
    padding: 2em;
    border-radius: 0.5rem; }
    @media only screen and (min-width: 1000px) {
      .cta-wrapper {
        padding: 4em;
        flex-direction: row;
        text-align: left; } }
  .cta p {
    color: white;
    font-size: 1.5rem;
    line-height: 1.4; }
  @media only screen and (max-width: 1000px) {
    .cta .button {
      margin-top: 1.5em; } }

.footer {
  margin-top: 6em;
  background-color: #4a4c4d;
  padding: 4em 4vw; }
  @media only screen and (min-width: 1000px) {
    .footer {
      margin-top: 10em; } }
  .footer h3 {
    font-family: "trumpsoftpro", sans-serif;
    color: #c2c4c6;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .footer p {
    color: #a5a6a6;
    font-size: .75em;
    text-align: center;
    font-weight: bold;
    letter-spacing: .1em; }
  .footer a {
    font-family: "trumpsoftpro", sans-serif;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: underline; }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 64em;
    margin: 0 auto; }
    @media only screen and (min-width: 1000px) {
      .footer-wrapper {
        align-items: stretch; }
        .footer-wrapper:first-of-type {
          height: 7em; } }
    .footer-wrapper:last-of-type {
      margin-top: 4em; }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start; }
    @media only screen and (max-width: 999px) {
      .footer-column:not(:first-child) {
        margin-top: 4em; } }
    @media only screen and (min-width: 400px) and (max-width: 999px) {
      .footer-column:nth-child(2) {
        width: 50%;
        height: 7em;
        padding-right: 4vw;
        align-items: flex-end; }
      .footer-column:nth-child(3) {
        width: 50%;
        height: 7em;
        padding-left: 4vw;
        align-items: flex-start; } }
    @media only screen and (min-width: 1000px) {
      .footer-column {
        width: 25%; }
        .footer-column:first-of-type {
          align-items: flex-start; }
        .footer-column:last-of-type {
          align-items: flex-end; } }
  .footer-logo img {
    height: 100%; }
  .footer-builtBy img, .footer-poweredBy img {
    max-width: 7em;
    margin-top: 1em; }

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  @media only screen and (min-width: 1000px) {
    .header {
      flex-direction: row;
      justify-content: space-between; } }
  .header-text {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (max-width: 1000px) {
      .header-text {
        padding-bottom: 4vw;
        align-items: center; } }
    @media only screen and (min-width: 1000px) {
      .header-text {
        padding-left: 4vw;
        width: 50vw; } }
    .header-text-logo {
      margin-top: 2rem; }
    .header-text-title {
      font-family: "trumpsoftpro", sans-serif;
      font-size: 5rem;
      color: #3eb9d9;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .3rem;
      margin-top: 1rem; }
      @media only screen and (max-width: 1000px) {
        .header-text-title {
          text-align: center; } }
      @media only screen and (min-width: 1000px) {
        .header-text-title {
          margin-top: calc(5vw * 1.5 - 2rem); } }
      .header-text-title span {
        display: block; }
      .header-text-title-accent {
        color: #fa5356;
        font-size: 2.5rem;
        margin: .25rem 0; }
    .header-text-subtitle {
      margin-top: 1rem;
      max-width: 18em;
      font-size: 1.25em;
      line-height: 1.5; }
      @media only screen and (max-width: 1000px) {
        .header-text-subtitle {
          text-align: center;
          margin: 1rem 4vw 0; } }
      @media only screen and (min-width: 1000px) {
        .header-text-subtitle {
          margin-top: calc(2vw * 2 - 1rem); } }
    .header-text-arrow {
      margin-top: 1rem; }
      @media only screen and (min-width: 1000px) {
        .header-text-arrow {
          margin-top: calc(4vw * 2 - 2em); } }
  .header-hero {
    width: 100%;
    position: relative;
    background-color: #3eb9d9;
    z-index: 1; }
    @media only screen and (max-width: 1000px) {
      .header-hero {
        height: 16em;
        overflow: hidden;
        margin-top: 2em; } }
    @media only screen and (min-width: 1000px) {
      .header-hero {
        width: 50vw;
        border-bottom-left-radius: 0.5rem; } }
    .header-hero-image {
      position: relative;
      display: block;
      z-index: 1;
      top: 0; }
      @media only screen and (max-width: 1000px) {
        .header-hero-image {
          right: 0;
          width: 100%; } }
      @media only screen and (min-width: 1000px) {
        .header-hero-image {
          left: -5vw;
          right: -5vw;
          min-height: 100%; } }
      @media only screen and (min-width: 1200px) {
        .header-hero-image {
          left: -10vw;
          right: 0;
          width: 60vw; } }
    .header-hero .counter {
      position: absolute;
      margin-top: 3rem;
      left: 5vw;
      right: 5vw;
      z-index: 2; }
      @media only screen and (min-width: 1000px) {
        .header-hero .counter {
          margin-top: 2rem; } }

.process {
  margin: 10em 4vw 0; }
  @media only screen and (max-width: 1000px) {
    .process {
      margin-top: 6rem; } }
  .process-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 64em;
    margin: 0 auto;
    text-align: center;
    background-color: #fa5356;
    padding: 2em;
    border-radius: 0.5rem; }
    @media only screen and (min-width: 1000px) {
      .process-wrapper {
        flex-direction: row;
        text-align: left;
        padding: 4em; } }
  .process h2 {
    color: white; }
  .process p {
    color: white;
    max-width: 32em;
    margin-top: 1.5em;
    padding: 0 0 2em 0; }
    @media only screen and (min-width: 1000px) {
      .process p {
        padding: 0 4em 0 0; } }
  .process-diagram img {
    width: 100%; }

.restaurants {
  margin: 4em calc(4vw - .5em) 0; }
  .restaurants ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 65em;
    margin: 0 auto; }

.restaurant {
  border-radius: 0.5rem;
  border: 2px solid #c2c4c6;
  margin: .5em;
  padding: .5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .restaurant {
      width: calc(50% - 1em); } }
  @media only screen and (min-width: 800px) {
    .restaurant {
      width: calc(33% - 1em); } }
  @media only screen and (min-width: 1100px) {
    .restaurant {
      width: calc(25% - 1em); } }
  .restaurant-logo {
    height: 140px;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .restaurant-logo img {
      max-height: 100%;
      max-width: 100%; }
  .restaurant-name {
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #4a4c4d;
    font-weight: bold;
    font-size: .9rem; }
  .restaurant-raised {
    color: #3eb9d9;
    font-family: "trumpsoftpro", sans-serif;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: bold; }
  .restaurant .button {
    margin-top: 1.5em; }

/*# sourceMappingURL=main.css.map */
